*{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: red;
    background-position: center;
}
nav {
display: flex;
align-items: center;

}

nav ul{
    display: flex;
    padding: 0px 260px;
}
nav ul li{
    padding: 10px 25px;
    text-decoration: none;
}
.name{
    color: white;
    font-weight: 25px;
    font-style: italic;
}
span{
    color: darkgreen;
    font-weight: 25px;
    font-family: sans-serif;
}
nav ul li a
{
color:white;
font-weight: bold;
text-decoration: none;
}
nav ul li a:hover{
    color:blueviolet;
    font-style: italic;
}
.btn{
    background-color: royalblue;
    color: burlywood;
    font-weight:bold ;
    font-size: 28px;
    text-decoration: none;
    border-radius: 60px;
}
.btn:hover{
    color: darkorange;
    font-style: italic;
    font-weight: bolder;
}
.content{
    top: 40%;
    left: 20%;
    position: absolute;
}
h3{
    color: white;
    font-size: 10px;
    margin-bottom: 40px;
}
h2{
    color: white;
}
.subscribe form{
    width: 400px;
    position: relative;
}
.subscribe form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 15px 120px 13px 14px;
    border: 5px solid green;
    border-radius: 50px;
}
.subscribe form input:last-child{
    display: inline-block;
    padding:10px 20px;
    background-color: red;
    border:none;
    border-radius: 35px;
    color: white;
    top: 7px;
    right: 10px;
    position: absolute;
    box-shadow: 0 0 20px black;
    box-sizing: 0 0 15px 15px;
}
